body{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0c4755+0,000000+100 */
    background:#fff; /* Old browsers */
   
}
.prod_up1{
    position: absolute;
    width: 15%;
    top: 477px;
    left: 175px;
}

.prod_up2 {
  clear: both;
  float: left;
  left: 191px;
  position: absolute;
  top: 467px;
  width: 12%;
}

.after:after{
    content: "";
    display: block;
    clear: both;
}
.pink{
    color: #b32079;
}
.red{
    color: #00b2c0;
}
.it{
    font-style: italic;
}
#wrapper{
    width: 698px;
    margin: 0px auto;
    position: relative;
    background: white;
    font-family: 'Open Sans', sans-serif;
}
.f20{
    font-size: 20px;
}
.f18{
    font-size: 18px;
}
.f14{
    font-size: 14px;
    line-height: 18px;
}
.blue{
    color: #00cac0;
}
.pink{
    color: #a145a4;
}
.green{
    color: #66cc33;
}
.grey-1{
    color: #555;
}
.grey-2{
    color: #5a5a5a;
}
.orange{
    color: #f96401;
}
.red{
    color: #ed145b;
}
#steps{
    margin-bottom: 20px;
}
.b-r3{
    border-radius: 0px 3px 3px 0px;
}
.b-l3{
    border-radius: 3px 0px 0px 3px;
}
#wrapper #banner{
   border-bottom: 1px solid #b2b2b2;
   height: 94px;
   background: #000;
}
#wrapper #banner #steps{
    width: 295px; height: 5px;
    top: 40px;
    left: 315px;
    background: #3c3c3c;
    position: absolute;
    text-align: center;
}
#wrapper #banner #steps #ty-slider{
    height: 3px;
    width: 143px;
    background: #00b2c0;
    position: relative;
    top: 1px;
}
#wrapper #banner #steps ul{
    position: relative;
}
#wrapper #banner #steps .step{
    width: 20px; height: 20px;
    background: #3c3c3c;
    box-shadow: 0 0 0px 3px #3c3c3c;
    color: white;
    font-size: 13px;
    font-weight: bold;
    border-radius: 50%;
}
#wrapper #banner #steps ul li .step-name{
    position: relative;
    left: -25px;
    padding-top: 8px;
    font-weight: 600;
}
#wrapper #banner #steps .step-1 .step-name,
#wrapper #banner #steps .step-2 .step-name{
    color: #5a5a5a;
    left: -43px;
}
#wrapper #banner #steps .step-3 .step-name{
    color: #5a5a5a;
}
#wrapper #banner #steps .step-1,
#wrapper #banner #steps .step-2,
#wrapper #banner #steps .step-3{
    top: -8px;
    position: absolute;
    z-index:
}
#wrapper #banner #steps .step-1{
    left: -20px;
}
#wrapper #banner #steps .step-2{
    left: 142px;
}
#wrapper #banner #steps .step-3{
    right: -82px;
}

#wrapper #banner #steps .step-1 div,
#wrapper #banner #steps .step-2 div{
    background: #00b2c0;
    transition: background 3s;
        -webkit-transition: background 3s;
            -ms-transition: background 3s;
}
#wrapper #banner #steps .thank-you div{
    transition: background 2s;
        -webkit-transition: background 2s;
            -ms-transition: background 2s;
}
#wrapper #banner #steps .step p{
    position: relative;
    z-index: 10;
    top: 3px;
}

#ty-msg{
    width: 100%;
    padding:10px 0 45px 0px;
    border-bottom: 1px solid #b2b2b2;
}
#ty-msg p{
    margin-bottom: 3px;
    padding-left: 40px;
}
#thank-you{
    width: 100%;
    float: right;
    
}
#line{
    background: #b2b2b2;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 627px;
    left: 0px;
}
#billing{
    background: white;
    width: 300px;
    height: auto;
    margin-right: 60px;
    float: right;
    padding-top: 20px;
}
#billing h1{
    color: #00b2c0;
    font-size: 18px;
}
#order-info{
    padding: 30px 0;
}
#prod{
    position: absolute;
    top: 317px;
    left: 175px;
    width: 15%;
}
#billing-inner{
    font-size: 14px;
    line-height: 20px;
}
.bb{
    border-bottom: 1px solid #dbdada;
}
.br{
    border-right: 1px solid #acacac;
}
#totals{
    width: 100%;
    float: right;
}
#total{
    margin-top: 10px
}
#dedicated{
    padding-top: 20px;
    width: 658px;
    margin: 0 auto;
    font-size: 12px;
    line-height: 17px;
    font-family: 'Open Sans', Arial;
}
#dedicated p{
    width: 85%;
    display: inline-block;
    padding-left: 10px;
}
#dedicated img{
    display: inline-block;
    vertical-align: -110%;
}
#terms{
    font-size: 10.5px;
    line-height: 16px;
    color: #aaaaaa;
    width: 622px;
    margin: 0 auto;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    clear: both;
    padding-top: 45px
}
footer{
    font-family: 'Open Sans', sans-serif;
    width: 698px;
    margin: 0px auto;
    position: relative;
    color: #444;
    padding-top: 60px;
    font-size: 12px;
    text-transform: uppercase;
}
footer p a{
    color: #444;
}
footer p{
    text-align: center;
    clear: both;
}

.prod {
    margin-left: -120px;
    margin-top: -28px;
float: left;
    width: 30%;
    position: inherit!important;
}

.hdr_br{float:left;width:100%;}

.hdr_br .logos {
    padding: 20px 0 0;
}

.progress {
    width: 100%;
    margin: 20px 0;
    position: relative;
}

.progress img {
    height: 38px;max-width:100%;
}

.overText {
    position: absolute;
    left: 0;
    top: 0;
}

.overText ul {
    list-style: none;
    display: inline-block;
    margin:10px 0;
}

.overText ul li {
    display: inline-block;
    color: #fff;
    padding: 0 85px 0 33px;
    font-weight: 600;
    line-height: 100%;
}
